*.elf
*.i64
*.id0
*.id1
*.id2
*.idb
*.nso
*.pfs0
*.nacp
*.nam
*.nro
*.o
*.txt
*.til
*.pchtxt
*.ips
*.vcxproj
*.vcxproj.user
*.sln
.vs/
.vscode/
build*/
debug/
release/
lib/
linkerscripts/symstemp.ld
skyline_patch*/
scripts/.idea/*
!exported.txt